<header>
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="assets/images/recording.png" width="50" height="50" class="d-inline-block align-top" alt="" />
            Stella Vybz
        </a>
        <ul class="nav navbar-nav navbar-right" id="navItems">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
        </ul>
    </nav>
</header>