html::-webkit-scrollbar { width: 0 !important }


body {
    background-color: rgb(35, 35, 35);
    font-family: 'Roboto', sans-serif;
}

.content {
    /* display: flex; */
    height: 100vh;
    /* align-items: center; */
    padding-top: 50px;
}

.container {
    padding: 70px;
    /* width: 30%; */
    background-color: rgba(51,57,64, 0.6);
    color: white;
    /* height: 90vh; */
}

.search-input {
    text-align: center;
    background-color: rgba(51,57,64, 0);
    border-top: 0px;
    border-bottom: 2px white solid;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0%;
    width: 100px;
    -webkit-transition: width 0.9s ease-in-out;
    transition: width 0.9s ease-in-out;
}

#search-bar {
    margin: 0 auto;
}

.search-input:focus {
    background-color: rgba(51,57,64, 0);
    color: white;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.modal-content {
    border: none;
    background: none;
}

.modal-backdrop.show {
    opacity: 0.9;
}

textarea {
  resize: none;
}

#myModal h1 {
    margin: 0 auto;
}



button img {
    width: 25px;
    float: left;
    margin-right: 10px;
}

button span {
    letter-spacing: 2px;
    font-size: 22px;
}


.filter {
    font-size: 16px;
    padding: 12px 0px;
    font-weight: 700;
}

button:focus, button:active {
    background-color: #23272B;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.btn:hover {
    background-color: none;
}

.container, .container2 {
    height: fit-content;
}

.row {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

input, input:focus, textarea, textarea:focus, select, select:focus {
    outline: none;
    box-shadow: none!important;
}

.create-playlist, .create-playlist:hover, .create-playlist:focus {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    background-color: transparent;

}

.my-playlists h3{
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
}

ul li {
    font-size: 1rem;
    list-style-type: none;
    padding: 5px 0px;
}

ul li a, ul li a:hover {
    color: gray;
    text-decoration: none;
}

ul li a:hover {
    color: white;
    text-decoration: none;
}

.my-little-box {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

hr {
    border: 1px white solid;
    width: 80%;
}

.a-flex {
    display: flex;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 769px) { 
    
.hide {
    display: none;
}

hr {
    width: 50%;
}

.hidden, .hidden:active, .hidden:focus, .hidden:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: white;
    box-shadow: none;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 2px;
}

.arrow {
    width: 20px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.row {
    margin: 0;
}

.show {
    display: flex !important;
    align-items: center;
}

.playlists {
    height: 0;
    padding-bottom: 0;
}

.search {
    padding-top: 12px;
}

.my-little-box {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.content {
    padding-top: 0px;
}

}

@media only screen and (max-width: 480px) { 

.filter {
    font-size: 13px;
}


}

.results {
    text-align: center;
    padding-bottom: 15px;
}

.results img {
    width: 200px;
    padding-bottom: 10px;
}

.results a:hover {
    text-decoration: none;
    color: white;
}

.results a {
    text-decoration: none;
    color: grey;
}

.results h4{
    font-weight: 700;
}

#searchResults {
    margin-top: 50px;
}

#searchResults img {
    width: 200px;
}

@media only screen and (max-width: 767px) { 

#searchResults img {
    width: 150px;
}

.results h4{
    font-weight: 700;
    font-size: 20px;
}

}

@media only screen and (max-width: 575px) { 

#searchResults img {
    width: 130px;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-3 {
    width: 50%;
}

.results h4{
    font-weight: 700;
    font-size: 20px;
}

.modal.show .modal-dialog {
    margin: 0 auto;
}

}

@media only screen and (max-width: 470px) { 

#searchResults img {
    width: 100px;
}

.results h4{
    font-size: 15px;
}

.results p {
    font-size: 12px;
}

}